@import "../../App.scss";

.home {
    @include page-default;
    .page-section {
        margin: 0 auto;
        @include default-border-radius;
        width: 40vw;
        border: 0.3rem solid $red;
        transition: 0.3s;
        .page-name {
            text-align: center;
            line-height: 40vh;
            font-size: 2rem;
            color: $beige;
        }
        &:hover {
            @include red-shadow;
        }
    }
}